<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="devza.app.android.droidnetkey" android:versionCode="5" android:versionName="0.3b">
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="8"/>
<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
<uses-permission android:name="android.permission.INTERNET" /> 
    <application android:allowClearUserData="true" android:debuggable="false" android:label="@string/app_name" android:icon="@drawable/icon" android:testOnly="false" android:enabled="true" android:allowBackup="true">
    
    
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".UsageActivity"
                  android:label="@string/app_name">
            <intent-filter>

            </intent-filter>
        </activity>
        <service android:name="ConnectionService"></service>
    </application>
</manifest>